{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="example-wrapper">
    <h1>Bienvenue sur l'application <br><strong>QUIZZ GAME</strong></h1>
    <br>
    <br>
    <p>---> Il est nécessaire de s'inscrire pour pouvoir jouer <br></p>
    <br>
    <br>
    <p>Cliquez sur 'Jouer une partie' <br>
    et tentez de faire mieux que le recordman actuel</p>
    <br>
    <br>
    <p>&nbsp;&nbsp;&nbsp;Bonne Chance !!!</p>
    
</div>
{% endblock %}
